[submodule "Assets/_RenderFeatures/CustomPostProcessRenderFeature"]
	path = Assets/_RenderFeatures/CustomPostProcessRenderFeature
	url = git@github.com:LazyunGame/CustomPostProcessRenderFeature.git
[submodule "Assets/_RenderFeatures/FogRenderFeature"]
	path = Assets/_RenderFeatures/FogRenderFeature
	url = git@github.com:LazyunGame/FogRenderFeature.git
[submodule "Assets/_RenderFeatures/ShaderToyRenderFeature"]
	path = Assets/_RenderFeatures/ShaderToyRenderFeature
	url = git@github.com:LazyunGame/ShaderToyRenderFeature.git
